<div class="content-wrapper" style="min-height: 525px;margin-top: 10px;">
  <section class="container">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon bg-info elevation-1"><i class="fas fa-list"></i></span>
          
                  <div class="info-box-content">
                    <span class="info-box-text"><a routerLink="/category">Category</a></span>
                    <span class="info-box-number">
                      {{categoryCount}}
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-danger elevation-1"><i class="fab fa-product-hunt"></i></span>
          
                  <div class="info-box-content">
                      
                    <span class="info-box-text"><a routerLink="/product">Products</a></span>
                    <span class="info-box-number">{{productCount}}</span>
                    
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
          
              <!-- fix for small devices only -->
              <div class="clearfix hidden-md-up"></div>
          
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
          
                  <div class="info-box-content">
                    <span class="info-box-text"><a routerLink="/order">Orders</a></span>
                    <span class="info-box-number">{{orderCount}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
          
                  <div class="info-box-content">
                    <span class="info-box-text"><a routerLink="/employee">Employees</a></span>
                    <span class="info-box-number">{{employeeCount}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-info elevation-1"><i class="fab fa-font-awesome"></i></span>
          
                  <div class="info-box-content">
                    <span class="info-box-text"><a routerLink="/supplier">Suppliers</a></span>
                    <span class="info-box-number">{{supplierCount}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-car"></i></span>
          
                  <div class="info-box-content">
                    <span class="info-box-text"><a routerLink="/shipper">Shippers</a></span>
                    <span class="info-box-number">{{shipperCount}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
          
                  <div class="info-box-content">
                    <span class="info-box-text"><a routerLink="/customer">Customers</a></span>
                    <span class="info-box-number">{{customerCount}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              
              <!-- /.col -->
            </div>
      </div>
  </section>
</div>


